<section id="references"  theme="light" class="two_col" style="background-color: var(--colorA);">
    <div class="rowA" style="width: 100%; align-items: center;">
        <div class="display: flex; align-items: center; flex-direction: column; justify-content: flex-end; width: auto;">
            <div class="title" style="font-size: 0.7em;">
                <h1 style="color: var(--colorB);">
                    What my colleagues say about me
                </h1>
            </div>
        </div>
    </div>
    <div class="rowB" style="align-items: flex-end; align-items: center;">
        <div class="refs">
            <div class="zitat" style="">
                <div class="zitat_content" style="">
                    Tanja Schulz
                    <br><br>
                    anna has proven to be a reliable group partner. His technical skills and proactive approach were crucial to the success of our project. 
                    <br><br>
                    Frontend Developer
                </div>
                <a style="display: block; width: 100%; padding: 1em 0; text-align: right;">Zum Linkedin profile >></a>
            </div>
            <div class="zitat" style="justify-content: center;">
                <div class="zitat_content" style="">
                    Hans Janisch
                    <br><br>
                    I had the good fortune of working with Hanna in a group project at the Developer Akademie that involved a lot of effort. He always stayed calm, cool, and focused, and made sure our team was set up for success. He's super knowledgeable, easy to work with, and I'd happily work with him again given the chance.
                    <br><br>
                    Team Partner
                </div>
                <a style="display: block; width: 100%; padding: 1em 0; text-align: right;">Zum Linkedin profile >></a>
            </div>
            <div class="zitat_content" class="zitat" style="justify-content: flex-end;">
                <div class="zitat_content" style="">
                    Anton Fischer
                    <br><br>
                    Our project benefited enormously from Simon efficient way of working.
                    <br><br>
                    Team Partner
                </div>
                <a style="display: block; width: 100%; padding: 1em 0; text-align: right;">Zum Linkedin profile >></a>
            </div>
        </div>
    </div>
    <div></div>
</section>