<section id="references" theme="light" class="two_col" style="background-color: var(--colorA);">
    <div class="rowA" style="width: 100%; align-items: center;">
        <div style="display: flex; align-items: center; flex-direction: column; justify-content: flex-end; width: auto;">
            <div class="title" style="font-size: 0.7em;">
                <h1 style="color: var(--colorB);">
                    {{ 'REFERENCES.HEADLINE' | translate }}
                </h1>
            </div>
        </div>
    </div>
    <div class="rowB" style="align-items: flex-end; align-items: center;">
        <div class="refs">
            <div class="zitat" *ngFor="let ref of references">
                <div class="zitat_content" style="">
                    {{ (ref + '.NAME') | translate }}
                    <br><br>
                    {{ (ref + '.TEXT') | translate }}
                    <br><br>
                    {{ (ref + '.ROLE') | translate }}
                </div>
                <a style="display: block; width: 100%; padding: 1em 0; text-align: right;">
                    {{ 'REFERENCES.LINKEDIN' | translate }}
                </a>
            </div>
        </div>
    </div>
    <div></div>
</section>