<section>
    <div class="section_bg page_bg"></div>
    <nav>
        <a href="./"><img src="./assets/img/hibiskus.svg" alt="" srcset=""></a>
        <div class="nav-menu">
            <a href="#menu">MENU</a>
            <a href="#location">LOCATION</a>
            <a href="#how_to_order">ABOUT</a>
            <span class="phone_btn">
                <img href="tel:0176-51806951" src="./assets/img/phone.svg" alt="" srcset=""><span class="phone_number">0176-51806951</span>
            </span>
        </div>
    </nav>
     <div class="section_bg"></div>
</section>