@import  './../../root.scss';

:host {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

:host.subpage{
    position: relative;

    .page_bg {
        background-image: none;
    }
    .section_bg {
        background-color: rgba($hibiscus,0.9);
        mix-blend-mode: luminosity;
        z-index: -1;
    }
}

:host {
    /* overflow: hidden ;*/
}
:host section{
    overflow: visible;
    align-items: flex-end;
}

/* === NAV === */

    nav {
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;

        position: fixed;
        width: calc(100% - 10vw);
        max-width: 1400px;

        z-index: 900;

        margin-top: 0.25em;

        height: 4em;

        #top_menu > a > img {
            width: 64px;
            height: 64px;
        }

        > div.nav-menu {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            padding-left: 0; padding-right: 0;
            > a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--colorD);
                margin: 0.5em;
                &:hover {
                    color: var(--colorE);
                }
            }

            a:last-child{
                margin-right: 0em;
            }
            a:first-child{
                margin-left: 0em;
            }
        }
        
    }

    body.fixed :host nav{
        position: absolute;
        width: 100%;
    }

    #menu .open_btn svg,
    #pmenu .close_btn svg{
        width: 1rem;
        height: 1rem;
        cursor: pointer;
    }
    :host nav .open_btn svg path{
        fill: var(--colorD) !important;
    }
    :host nav .close_btn svg path{
        fill: var(--colorE) !important;
    }
    :host nav .s_logo svg path{
        fill: var(--colorF) !important;
    }


    .lang{
        border: 1px solid var(--colorD);
        border-radius: 200%;
        padding: 0.5em;
        height: 1em;
        width: 1em;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition: background-color 0.3s;
    }

    .lang:hover{
        background-color: var(--colorF);
        color: initial
    }

/* === DROP MENU === */

    #pmenu {
        list-style: none;

        position: fixed;
        top: -1em;
        margin-right: -100%;
        z-index: 1;
        background: #F8F7E5;
        padding: 1em;
        border: 1px solid var(--colorD);
        min-width: 7.5em;

        visibility: hidden;

        transition: all 1s;

        z-index: 950;
    }

    #pmenu *{
        user-select: none;
        -webkit-user-select: none;
    }

    #pmenu.open {
        visibility: visible;
        top: -0.75em;
        margin-right: -1em;
    }


    #pmenu li {
        /*
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        */
    }

    #pmenu li:first-child {
        margin-top: 0em;
    }

    #pmenu li:last-child {
        margin-bottom: 0em;
    }

    #pmenu li a {
        color: var(--colorD);
    }

    #pmenu .title {
        display: flex;
        justify-content: space-between;
        color: var(--colorA);
        font-size: 1.5em;
        font-weight: 100;

        margin-bottom: 0.5em;
    }

    #pmenu .title .close_btn {
        color: var(--colorE);
        width: 0.75em;
        height: 0.75em;
    }   

    #pmenu .title .close_btn path {
        fill: var(--colorE) !important;
    }

    :host nav .nav-menu.social{
        display: none;
    }

    #pmenu .menu_seal{
        vertical-align: middle;
        overflow: hidden;
        width: 0;
        opacity: 0;

        display: inline-block;

        transition: width 0.3s, opacity 0.15s;
    }

    #pmenu li:hover .menu_seal{
        width: 1.5em;
        opacity: 1
    }

    #pmenu .menu_seal svg{
        width: 100%;
        height: 1.5em;
    }

    #pmenu .menu_seal svg path{
        fill: var(--colorF);
    }

/* === STICKY NAV === */

    nav.stick_to_section{
        position: absolute;
        width: 100%;
    }

/* === SIDE MENU === */

    #side_menu{
        position: fixed;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        pointer-events: none;
        z-index: 900;
    }

    #side_menu ul{
        list-style: none;
        position: relative;
        right: calc(-3.5vw);
        padding: 0;
    }

    #side_menu li{
        height: 1em;
        width: 1em;

        pointer-events: all;
    }
    #side_menu li .dot,
    #side_menu li .diamond{
        display: block;
        position: relative;
        width: 50%;
        width: 50%;
        margin: 1em auto;
    }

    :host #side_menu li .diamond{
        display: none;
        width: 75%;
    }

    :host #side_menu li .dot path{
        fill: var(--colorD);
    }
    :host #side_menu li .diamond rect{
        fill: var(--colorE);
    }

    :host #side_menu li a.active .dot{
        display: none;
    }
    :host #side_menu li a.active .diamond{
        display: block;

    }
   

/* === MENU COLOR === */

    body[data-active-section="hero"]{
        :host nav .nav-menu.social{
            display: flex;
        }
    }
    
    :host nav.dark .lang{
        color: var(--colorB) !important;
        border: 1px solid var(--colorB) !important;
    }
    :host nav.dark .open_btn svg path{
        fill: var(--colorB) !important;
    }
    :host nav.dark .s_logo_text svg path{
        fill: var(--colorB) !important;
    }

    :host #side_menu li.dark .dot path{
        fill: var(--colorB) !important;
    }

    :host nav .s_logo_text svg path{
        transition: fill 0.3s;
    }
    :host nav .s_logo_text:hover svg path{
        fill: var(--colorF) !important;
    }

/* === RESPONSIVE === */

    @media screen and (max-width: 800px) {
        nav {
            align-items: center;
            margin-right: auto;

            > div {
                > a,
                .phone_btn {
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                }
            }
        }
        :host nav{
            position: absolute;
            width: 100%;
        }
        :host nav .nav-menu.social{
            display: none !important;
        }

        :host #side_menu{
            display: none;
        }
    }