<section id="portfolio" theme="light" class="two_col fixed_height_desktop" style="display: flex; align-items: flex-start; background-color: var(--colorB);">
    <div class="rowA two_col" style="">
        <div class="col left" style="">
            <div class="title" style="font-size: 0.7em">
                <h1 style="color: var(--colorD);">My Work</h1>
            </div>
        </div>
        <div class="col right" style="">
            <div style="color: var(--colorD); position: relative;">
                Explore a selection of my work here - Interact with the projects to see my skills in action.
            </div>
        </div>
    </div>
    <div class="rowB two_col" style="">
        <div class="col left" style="">
            <div class="projects">
                <div class="project_holder">
                    <div class="project active">
                        <img src="{{projects[currentProject][1]}}" width="100%" height="auto" alt="" srcset="" style=" ">     
                    </div>  
                </div>
                <div class="sealC">
                    <svg width="100%" height="100%" viewBox="0 0 120 121" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                        <g transform="matrix(1,0,0,1,-1,7.62939e-06)">
                            <g>
                                <path d="M1,68.103L3.288,77.879L37.074,71.049L10.49,93.214L16.749,101.049L44.275,80.29L29.94,111.696L39.026,116.049L54.775,85.513L55.582,120L65.678,120L66.485,85.647L82.301,116.384L91.387,112.031L77.119,80.759L104.78,101.652L111.039,93.75L84.59,71.719L118.577,78.616L120.865,68.839L87.349,60.402L121,51.897L118.779,42.121L84.926,48.951L111.51,26.786L105.251,18.951L77.725,39.71L92.06,8.304L82.974,3.951L67.226,34.554L66.418,-0L56.323,-0L55.515,34.353L39.766,3.616L30.613,7.969L44.881,39.241L17.22,18.348L10.961,26.25L37.411,48.281L3.423,41.384L1.202,51.161L34.651,59.598L1,68.103Z" style="fill-rule:nonzero;"/>
                            </g>
                        </g>
                    </svg> 
                </div>   
            </div>    
        </div>
        <div class="col right" style="">
            <div class="project_descs">
                <div class= "project_desc active" style="color: var(--colorB); background-color: var(--colorD); ">
                    <div style="display: flex; justify-content: space-between;"><span>{{projects[currentProject][0]}}</span> <div class="emoji"><img src="{{projects[currentProject][2]}}"></div></div>
                    <br>
                    <div style="color: var(--colorA); font-size: smaller;">{{projects[currentProject][3]}}</div>
                    <br>
                    {{projects[currentProject][4]}}
                    <br><br>
                    <div class="button_row">
                        <button>GitHub →</button><button>Live Test →</button>
                    </div>
                </div>
            </div>
            <div class="project_nav">
                <span class="project_button" id="project_button_prev" (click)="prevProject()">&lt;&lt; Previous project</span>
                <span class="project_button" id="project_button_next" (click)="nextProject()">Next project &gt;&gt;</span>
           </div>
        </div>
    </div>
    <div></div>
</section>