@import  './../../root.scss';

:host {
  display: flex;
  justify-content: flex-end;
}

/* === SECTION === */

    .skill{
        color: var(--colorB);
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    .skill_icon{
        width: 4em;
        height: 4em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    section {

        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 20%;

        justify-content: center;

    }

    :host section .two_col.rowA {
        height: auto;

        align-items: center;
        display: flex;
        justify-content: flex-start;

        margin: 0;
        margin-bottom: 2.5vw;
        
    }
    :host section .two_col.rowB{
        justify-content: space-between; 
        height: auto;
        align-items: flex-end;
        margin: 0;
    }

    :host section .two_col.rowA .col.left {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        width: auto;

        margin-right: 4em;
    }
    :host section .two_col.rowA .col.right {
        flex-direction: column; 
        justify-content: center; 
        width: auto;

        margin-top: 2em;
        margin-bottom: 2em;
    }
    :host section .two_col.rowB .col.left {
       align-items: flex-end; 
       align-items: center;
       width: 40%;
    }
    :host section .two_col.rowB .col.right {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        width: 60%;

        align-items: stretch;
    }

/* === SPECIAL === */

     .project_nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 2em;
        margin-right: 0;
        margin-top: 0;
     }

    :host .emoji{
        -webkit-animation-name: bounce ;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        transform-origin: center;
    }

    :host .sealC svg > g:nth-child(1){
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        transform-origin: center;
    }

    :host .sealC svg > g:nth-child(1) path{
        fill: var(--colorF);
    }

    :host .sealC{
        position: absolute;
        width: 33%;
        height: 33%;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    .projects{
        width: 100%;
        height: 100%;
        background-color: var(--colorE);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px var(--colorD);
        border-radius: 0.5em;

        overflow: hidden;

        position: relative;
    }
    
    .project{
        position: absolute;
        width: calc(100% - 10%);
        height: calc(100% - 10%);
        padding: 5%;
        z-index: 1;

        display: none;
    }

    .project img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .project.active{
        position: relative;
        display: block;
    }

    :host .project_holder{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .project_desc{
        display: none; 
        flex-direction: column; 
        justify-content: center; 
        align-items: stretch;
        padding: 2em; 
        margin: 2em;
        margin-right: 0;
        min-height: calc(100% - 12em);
    }

    .project_desc.active{
        display: flex;
    }

    .project_button {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
    }

/* === ANIMATION === */

    @-webkit-keyframes rotate {
        from {
        -webkit-transform: rotate(0deg);
        }
        to {
        -webkit-transform: rotate(360deg);
        }
    }

    @-webkit-keyframes bounce {
        from {
        -webkit-transform: translate((0,0em));
        }
        50%{
        -webkit-transform: translate((0,-0.5em));
        }
        to {
        -webkit-transform: translate((0,0));
        }
    }
  

/* === RESPONSIVE === */

    @media screen and (max-width: 800px) {

        :host section .two_col.rowA,
        :host section .two_col.rowB{
            flex-direction: column;
        }

        :host section .two_col.rowA .col.left,
        :host section .two_col.rowA .col.right,
        :host section .two_col.rowB .col.left,
        :host section .two_col.rowB .col.right{
            width: 100%;
        }

        :host section .two_col.rowA .col.left{
            margin-right: 0em; 
        }

        :host .project_desc,
        :host .project_nav{
            margin-left: 0;
            margin-right: 0;
        }


        
    }