/* === GOOGLE === */

@font-face {
    font-family: 'Eczar';
    src: url('./assets/font/Eczar-Bold.eot');
    src: url('./assets/font/Eczar-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Eczar-Bold.woff2') format('woff2'),
        url('./assets/font/Eczar-Bold.woff') format('woff'),
        url('./assets/font/Eczar-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eczar';
    src: url('./assets/font/Eczar-SemiBold.eot');
    src: url('./assets/font/Eczar-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Eczar-SemiBold.woff2') format('woff2'),
        url('./assets/font/Eczar-SemiBold.woff') format('woff'),
        url('./assets/font/Eczar-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eczar';
    src: url('./assets/font/Eczar-ExtraBold.eot');
    src: url('./assets/font/Eczar-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Eczar-ExtraBold.woff2') format('woff2'),
        url('./assets/font/Eczar-ExtraBold.woff') format('woff'),
        url('./assets/font/Eczar-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eczar';
    src: url('./assets/font/Eczar-Medium.eot');
    src: url('./assets/font/Eczar-Medium.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Eczar-Medium.woff2') format('woff2'),
        url('./assets/font/Eczar-Medium.woff') format('woff'),
        url('./assets/font/Eczar-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eczar';
    src: url('./assets/font/Eczar-Regular.eot');
    src: url('./assets/font/Eczar-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Eczar-Regular.woff2') format('woff2'),
        url('./assets/font/Eczar-Regular.woff') format('woff'),
        url('./assets/font/Eczar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.fontA{
    font-family: 'Eczar', serif;
}
.fontB{
    font-family: sans-serif;
}
