@use './fonts.scss';
@import  './root.scss';

/* === TYPOGRAPHY === */

  .fontRealMiami {
    font-family: 'RealMiami';
    font-weight: 100;
  }

  .fontRaleway {
    font-family: 'Raleway';
    font-weight: 600;
  }

body::before{
    content: "";
    width:  100%;
    height: 100%;
    background-image: url('./assets/img/patterns/wavecut.png');
    position: fixed;
    opacity: 0.4;
}

/* === BASE === */

  body,
  .page_bg {
    overflow-y: scroll;
    margin: 0;
    font-family: 'Raleway';
    background-image: url('./assets/img/havana.jpg');
    background-color: $teal;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
  }

  a {
    color: $whitesmoke;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .content
  {
    min-height: calc( 100vh - 10em);
  }

/* === BACKGROUNDS === */
  
  .page_bg { 
    overflow-y: hidden;
  }
  
  .section_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    max-width: 1200px;
    height: calc(100%);
    
    margin-top: -2em;
    margin: auto;
  }


/* === SECTION === */

  section {
    width: calc(100% - 4em);
    max-width: calc(1200px - 4em);
    padding: 2em;
    margin: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



    .title {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em;
      width: calc(100% - 4em);

      h1,
      h2 {
        color: whitesmoke;
        line-height: 1em;
        margin: 0.2em 0;
        font-weight: 100;
        text-align: center;
      }

      h1 {
        font-size: 2.5em;
      }
    }
  }

/* === RESPONSIVE === */

  section {

      @media screen and (max-width: 800px) {

        font-size: 1.33em;
        
        h2 {
          font-size: 5vw;
        }
      }
  }