@use './fonts.scss';
@import  './root.scss';



html{
  scroll-behavior: smooth;
}
  
body.fixed{
    overflow: hidden;
}

h1,
h2 {
  font-family: "Eczar";
}

/* === TYPOGRAPHY === */

  .fontRaleway {
    font-family: 'Raleway';
    font-weight: 600;
  }

/* === BASE === */

   body,
  .page_bg {
    overflow-y: scroll;
    margin: 0;
    font-family: sans-serif;
    background-image: none;
    background-color: $teal;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
  }
  

  a {
    color: $whitesmoke;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button{
    background: transparent;
    border: solid 1px var(--colorB);
    color: var(--colorB);
    padding: 0.5em 1.5em;
    border-radius: 2em;
    font-size: 1em;
  }

  .button_row button{
    margin-right: 2em;
  }
  .button_row button:last-child {
    margin-right: 0;
  }
  
  .content
  {
    min-height: calc( 100vh - 10em);
  }

/* === BACKGROUNDS === */
  
  .page_bg { 
    overflow-y: hidden;
  }
  
/* === SECTION === */

  section {
    width: calc(100% - 10vw);

    max-width: 1400px;

    min-height: calc(100vh - 8em);

    padding: 5vw;
    padding-top: 4em;
    padding-bottom: 4em;

    margin: auto;

    position: relative;

    overflow: hidden;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      display: block;
      
      h1,
      h2 {
        line-height: 1em;
        margin: 0;
        font-weight: 100;
      }

      h1 {
        font-size: clamp(2em, 13vw, 6em);
        font-size: clamp(2em, 13vmin, 6em);
        font-weight: 600; 
      }
      h2 {
        font-size: clamp(1.25em, 7.5vw, 2.5em);
        font-size: clamp(1.25em, 7.5vmin, 2.5em);
      }
    }
  }

  section.fixed_height{
    height: calc(100vh - 15vw);
  }

  section.fixed_height_desktop{
    height: calc(100vh - 15vw);
  }

  section .two_col {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .col{
      width: 50%;
      height: 100%;
      display: flex;
    }
  }

  section .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
  }

  section .flt{
    position: absolute;
  }

/* === RESPONSIVE === */

  @media screen and (max-width: 800px) {
    .two_col {
      display: flex;
    }
    .two_col .col{
      display: flex;
    }
    section.fixed_height_desktop{
      height: auto;
    }
  }

  @media screen and (max-height: 640px) {
      section {
        min-height: calc(640px - 8em);
      }
  }


/* === FORMS === */

  input[type="text"] {
      background: none;
      border: none;
      padding: 1em;
      border-bottom: 1px solid var(--colorF);
  }

/* === SVG === */

  .svg_layer{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }